[Desktop Entry]
Type=Link
Name=DeskTitle
Name[es]=DeskTitle
Name[hi]=डेस्कटाइटल
Name[ml]=ഡെസ്ക്ടൈറ്റിൽ
Name[mr]=
Name[sk]=DeskTitle
Name[cs]=DeskTitle
Icon=e-module-desktitle
X-Enlightenment-ModuleType=utils
Comment=Gadget to display the current desktop's name.
Comment[be]=Гаджэт для адлюстравання назвы працоўнага стала.
Comment[es]=Gadget para desplegar el nombre del escritorio actual.
Comment[fi]=Vempain nykyisen työpöydän nimen näyttämiseen.
Comment[fr]=Un gadget pour afficher le nom du bureau actuel.
Comment[hi]=वर्तमान डेस्कटॉप का नाम प्रदर्शित करने वाला गैजेट।
Comment[it]=Gadget per visualizzare il nome del desktop attuale.
Comment[ml]=നിലവിലുള്ള ഡെസ്ക്ടോപ്പിന്റെ പേര് പ്രദർശിപ്പിക്കുന്നതിനുള്ള ഗാഡ്‌ജെറ്റ്.
Comment[mr]=
Comment[pt]=Gadget para mostrar o nome da área de trabalho atual.
Comment[ru]=Гаджет для отображения названия текущего рабочего стола.
Comment[sk]=Widget pre zobrazenie názvu aktuálnej plochy.
Comment[cs]=Widget pro zobrazení názvu aktuální plochy.
