Source: moksha-module-desktitle
Section: utils
Priority: optional
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), autotools-dev, moksha
Standards-Version: 4.1.2
Homepage: https://github.com/BodhiDev//Desktitle2.0


Package: moksha-module-desktitle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Desktitle Module for Moksha
 Displays and edit the name of the virtual desktop displayed.
